<%= render partial: 'static_pages/hint_banner', locals: {new_show: @new_show} %>

<div class="isotope-container">
	<% @shows.each do |show| %>
		<%= link_to show_path(show), class: 'Card' do %>
			<% unless show.id % 6 == 0 %>
				<svg id="<%="show-#{show.id}"%>" class="js-show " width="160" height="160"
					data-id="<%="show-#{show.id}"%>" data-matrix="<%=show.data%>">
				</svg>
			<% else %>
				<svg id="<%="show-#{show.id}"%>" class="js-show" width="330" height="330"
					data-id="<%="show-#{show.id}"%>" data-matrix="<%=show.data%>">
				</svg>
			<% end %>
		<% end %>
	<% end %>
</div>


<div style="display: none;">
	<%= paginate @shows %>
</div>


<div class="page-load-status">
  <div class="infinite-scroll-request">
    <%= image_tag '/images/pix-loading.gif' %>
    <span>loading...</span>
  </div>
  <div class="infinite-scroll-last">End of content</div>
  <div class="infinite-scroll-error">No more pages to load</div>
</div>
