<%= form_for :session, url:sessions_path, :html=>{:class=>'login-form'} do |f| %>
<div class="title"><%= t('log_in') %></div>

  <%= f.label :email %>
  <%= f.text_field :email%>
  <%= f.label :password, t('login_signup_form.password') %>
  <%= f.password_field :password %>
  <%= f.submit t('log_in') %>
  <%= link_to t('sign_up'), signup_path, class: 'signup' %>
<% end %>

<div class="auth-form">
  <%= link_to '/auth/facebook',class:'each-auth' do%>
    <span class="lsf-icon facebook" title="facebook"><%= t('facebook_login') %></span>
  <% end %>
</div>