<div class="shot-wrapper">
  <!-- name, title, show, action, action detail -->
  <div class="main-wrapper">
    <div class="info-container">
      <div class="main-info">
        <div class="name"><%= @shot.name %></div>
        <span class="creator">by <span><a href="#"><%= @shot.user.name %></a></span></span>
        <span class="created-time"><%= @shot.created_at.strftime("%b %d, %Y") %></span>
      </div>
      <div class="person-number">
        <div class="lsf-icon" title="user"></div>
        <div class="number"><%= @shot.person_number %></div>
      </div>
    </div>

    <div class="view-container">
      <div class="view-operation">
        <ul class="clear-fix">
          <% if current_user.try(:has_show?, @shot) %>
            <li><%= link_to '編輯', edit_show_path(@shot) %></li>
          <% end %>
        </ul>
      </div>
      <svg id="canvas" class="canvas" width="350" height="350"></svg>
    </div>

    <div class="action-container">
      <div id="like-btn" class="like-box <% if @is_like %> active <% end %>">
        <div class="number"><%= @shot.likes_count %></div>
        <div class="text">likes</div>
        <span class="lsf-icon" title="heartempty"></span>
      </div>
      <div class="fork-box">
        <div class="number">0</div>
        <div class="text">fork</div>
        <span class="lsf-icon" title="dish"></span>
      </div>
      <div id="share-btn" class="share-box">
        <div class="text"><div>FB</div><div>share</div></div>
        <span class="lsf-icon" title="share"></span>
      </div>
    </div>
  </div>

  <!-- colot list, description, comment,  -->
  <div class="detail-wrapper">
    <div class="color-container">
      <!-- <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul> -->
    </div>
    <div class="description-container">

    </div>
    <div class="comment-container">
      <div class="comment-number"><%= @comments.size %> 人回應</div>
      <div class="comment-list">
        <% if (signed_in?) %>
        <div id="enter-block" class="comment-block">
          <div class="thumbnail"><img src="http://1.bp.blogspot.com/-k5XaBDOKiMY/UdjlSeFESbI/AAAAAAAABnQ/4gVl6okwqSM/s1600/Avatar.jpg" alt=""></div>
          <div class="name lsf-icon" title="quote"><%= current_user.name %></div>

          <textarea id="comment-field" type="textarea" class="comment-focus-group comment-field" placeholder="say something . . ."></textarea>
          <div id="send-comment" class="comment-focus-group lsf-icon finished-btn" title="ok">送出</div>
        </div>
        <% end %>
        <% @comments.each do |comment| %>
        <div class="comment-block">
          <div class="thumbnail"><img src="http://1.bp.blogspot.com/-k5XaBDOKiMY/UdjlSeFESbI/AAAAAAAABnQ/4gVl6okwqSM/s1600/Avatar.jpg" alt=""></div>
          <div class="name lsf-icon" title="quote"><%= comment.user.name %></div>
          <div class="comment"><%= comment.content %></div>
        </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<script>
  var PageWidget = {};
  var commentTemplate;
  $(document).on('page:change',function() {
    if($(".shots.show").lenght <= 0 ){
      return false;
    }
    PageWidget.init();
  });

  var ps;
  PageWidget = {
    settings:{

    },
    init: function(){
      ShowWidget.generateShow('#canvas',10,ShowWidget.convertStrToCodeArr("<%= @shot.data %>"));
      this.bindUIActions();
      this.initHbTemplate();
    },
    initHbTemplate: function(){
      commentTemplate = Handlebars.compile($('#comment-template').html());
    },
    bindUIActions: function(){
      $("#send-comment").click(function() {
        PageWidget.sendComment($("#comment-field"));
      });
      $("#comment-field").click(function(){
        $(this).addClass('active');
      });
      $(document).on("click",function(event) {
        if(!$(event.target).hasClass("comment-focus-group")){
          PageWidget.unactiveCommentField();
        }
      });

      $("#like-btn").click(function() {
        if(!$(this).hasClass("active")){
          PageWidget.addLike($(this));
        }else{
          PageWidget.cancelLike($(this));
        }
      });
    },
    unactiveCommentField: function() {
      $("#comment-field").removeClass("active");
    },
    clearCommentField:function() {
      $("#comment-field").val("");
      this.unactiveCommentField();
    },

    sendComment: function($commentObj){
      var content = $commentObj.val();
      $.ajax({
        url:"<%= show_comment_path(@shot) %>",
        type:"POST",
        dataType:"JSON",
        data:{
          content:content
        },
        success:function(data) {
          PageWidget.clearCommentField();
          PageWidget.insertComment(data);
          console.log(data);
        }

      });
    },
    insertComment: function(data){
      $('#enter-block').after(commentTemplate(data));
      this.hideAndFadeIn('.comment-block:eq(1)');
    },
    hideAndFadeIn: function(elem){
      $(elem).hide().fadeIn(600);
    },
    addLike: function($this){
      console.log("addLike!!");
      $.ajax({
        url:"<%= show_like_path(@shot) %>",
        type:"POST",
        dataType:"JSON",
        success:function(result) {
          console.log(result);
          PageWidget.activeLikeIcon($this);
          $('#like-btn .number').text(result);
        }
      });
    },
    cancelLike: function($this){
      console.log("cancelLike!!");
      $.ajax({
        url:"<%= show_like_path(@shot) %>",
        type:"DELETE",
        dataType:"JSON",
        success:function(result) {
          console.log(result);
          PageWidget.unactiveLikeIcon($this);
          $('#like-btn .number').text(result);
        }
      });
    },
    activeLikeIcon: function($this){
      $this.addClass("active");
    },
    unactiveLikeIcon: function($this){
      $this.removeClass("active");
    }
  };



</script>

<script id="comment-template" type="text/x-handlebars-template">
  <div class="comment-block">
    <div class="thumbnail"><img src="http://1.bp.blogspot.com/-k5XaBDOKiMY/UdjlSeFESbI/AAAAAAAABnQ/4gVl6okwqSM/s1600/Avatar.jpg" alt=""></div>
    <div class="name lsf-icon" title="quote">{{user.name}}</div>
    <div class="comment">{{content}}</div>
  </div>

</script>