<div class="container">
  <div class="edit-tool">
		<div class="tool-group">
			<button id="undoBtn" class="tool-btn undo lsf-icon" title="reply"></button>
			<button id="redoBtn" class="tool-btn redo lsf-icon" title="forward"></button>
		</div>
		<div class="paint-mode-group">
			<button class="js-mode-btn tool-btn lsf-icon active" title="brush" data-mode=1></button>
			<button class="js-mode-btn tool-btn lsf-icon" title="paint" data-mode=3></button>
		</div>
    <div type="color" class="color-picker" id="color-picker"></div>
	</div>
	<div class="editor-wrapper">
		<div class="canvas-container"><svg id="canvas" class="canvas" width="400" height="400"></svg></div>
		<div class="info-field">
			<% if @show.fork? %>
				<%= forked_show_link(@show.fork) %>
			<% end %>
			<%= form_for @show, url: me_show_path(@show), method: :put do |f|%>
				<%= f.hidden_field :id %>
				<%= f.text_field :name, autocomplete:"off",placeholder: t('my_show.naming') %>
				<%= f.hidden_field :data %>
				<%= f.hidden_field :behavior,{value:"finish_edit"}%>
			<% end %>
			<div class="bottom">
				<a href="#" id="download-png" download='<%= @show.name %>.png' style="font-size: 16px;">Download</a>
				<div id="save-btn" class="lsf-icon finished-btn" title="ok"> <%= t('my_show.done') %></div>
			</div>
		</div>

	</div>
</div>
<canvas id="temp-canvas" style="display:none"></canvas>
<script>

	var cs;
	var ColorPickerWidget;

	ColorPickerWidget = {
		settings:{
      $modeBtns: $('.js-mode-btn'),
			initialColor:'#02508d',
		},
		init: function(){
      this.s = this.settings;
			cs = ColorPickerWidget.settings;
			es.currentColor = cs.initialColor;
			ColorPickerWidget.bindUIActions();
			ColorPickerWidget.initColorPicker();
		},
		bindUIActions: function(){

		},
		initColorPicker: function(){
      var self = this
			$('#color-picker').css('background-color',cs.initialColor);
			$("#color-picker").spectrum({
				className: 'color-picker',
		    color: cs.initialColor,
		    preferredFormat: "hex",
		    showInput: true,
		    showPalette: true,
		    clickoutFiresChange: true,
		    showInitial: true,
		    showButtons: false,
        show: function (){
          $('#color-picker').addClass('active')
        },
		    hide: function (){
          $('#color-picker').removeClass('active')
        },
			  change: function(color) {
          self.changeColor(color)
				},
				move: function(color) {
          self.changeColor(color)
				}
			});
		},
    changeColor: function (color) {
      es.currentColor = color;
      $('#color-picker').css('background-color', color);
      cs.$modeBtns.css('text-shadow', '1px 3px 0px' + color);
    }
	}

</script>
<script type="text/javascript">
	var length=400;
	var length = $("svg.canvas").attr("width");
	var size = 10;
	var dataset;
	var dataArr;
	$(document).on('turbolinks:load',function(){
		if($('.shows.edit').length <= 0){
			return false;
		}

		dataset = ShowWidget.convertStrToCodeArr("<%= @show.data %>");
		ShowWidget.generateShow('svg.canvas', 10, dataset);
		ShowWidget.generateAxis('svg.canvas');

		EditorWidget.init();
		ColorPickerWidget.init();
	});
</script>
