<style>
	.item {
	  float: left;
	  width: 160px;
	  height: 160px;
	  background: #0D8;
	  border: 2px solid #333;
	  border-color: hsla(0, 0%, 0%, 0.7);
	}
</style>
<div class="container">
	<% @shows.in_groups_of(4) do |group| %>
	<div class="row">
		<% group.compact.each do |show| %>
			<div class="s-show-card to-table-cell">
				<svg id="<%="show-#{show.id}"%>" class="js-shows" width="160" height="160" js-id="<%="show-#{show.id}"%>" js-data="<%=show.data%>" link-to="<%= show_path(show) %>">
				</svg>
				<div class="muted info"><%= show.updated_at.strftime("%b %d, %Y") %></div>
				<div class="info"><%= show.name %></div>
				<div class="social-info">
					<span class="viewer"><fi class="lsf-icon" title="view"></fi><span class="number"><%= show.person_number %></span></span>
					<span class="lover"><fi class="lsf-icon" title="love"></fi><span class="number"><%= show.likes_count %></span></span>
					<span class="commenter"><fi class="lsf-icon" title="comment"></fi><span class="number"><%= show.comments_count %></span></span>
				</div>

			</div>
		<% end %>
	</div>
	<% end %>
	<div class="row">
		<div class="s-show-card add-btn" data-toggle="modal" data-target="#newShow">
			+
		</div>

	</div>

	<div class="modal fade" id="newShow">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        	<span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title">新增 Pixel Show</h4>
	      </div>
        <%=form_for @new_show, url: me_shows_path(@new_show), method: :post do |f|%>
		      <div class="modal-body">
							<%= render 'shared/error_messages', object:f.object%>
							<div class="title">title</div>
							<%= f.text_field :name %>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<%= f.submit "新增", class: "btn btn-primary" %>
		      </div>
				<% end %>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


</div>

<script>
	$('.js-shows').each(function() {
		var showID = $(this).attr('js-id');
		var originData = $(this).attr('js-data');
		var showData = ShowWidget.convertStrToCodeArr(originData);
		ShowWidget.generateShow('#'+showID,10,showData);
	});


</script>