
<h1>Sign up</h1>
<%= render 'shared/error_messages' %>
<%= form_for @user do |f| %>
<%= f.label :name ,'姓名' %>
<%= f.text_field :name%>
<%= f.label :email %>
<%= f.text_field :email%>
<%= f.label :password %>
<%= f.password_field :password%>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation%>
<%= f.submit %>
<% end %>