<header>
	<div class="container">
		<%= link_to root_path, class: 'logo' do %>
			<span><img src="/images/logo.png" alt="">Pixel Show</span>
		<% end %>
		<nav>
			<ul>
				<%= link_to shows_path do %>
					<li>找找看</li>
				<% end %>
				<%= link_to me_shows_path do %>
					<li>我的作品</li>
				<% end %>
				<li class="account-field">
					<% if signed_in?%>
						<%= current_user[:name]%>
						<ul class="user-nav">
							<%= link_to me_shows_path do %>
								<li>我的作品</li>
							<% end %>
							<%= link_to signout_path do %>
								<li>登出</li>
							<% end %>
						</ul>
					<% else %>
						<%= link_to login_path do %>
							<div>登入</div>
						<% end %>
					<% end %>
				</li>
			</ul>
		</nav>
	</div>

</header>

