<div class="container">
	<% @shows.in_groups_of(4) do |group| %>
	<div class="row">
		<% group.compact.each do |show| %>
			<div class="s-show-card to-table-cell">
				<svg id="<%="show-#{show.id}"%>" class="js-shows" width="160" height="160" js-id="<%="show-#{show.id}"%>" js-data="<%=show.data%>" link-to="<%= edit_show_path(show) %>">
				</svg>
				<div class="muted info"><%= show.name %></div>
			</div>
		<% end %>
	</div>
	<% end %>
	
	
</div>



<script>
	$('.js-shows').each(function() {
		var showID = $(this).attr('js-id');
		var originData = $(this).attr('js-data');
		var showData = ShowWidget.convertStrToCodeArr(originData);
		ShowWidget.generateShow('#'+showID,10,showData);
	});


</script>