<style>
	.item {
	  float: left;
	  width: 160px;
	  height: 160px;
	  background: #0D8;
	  border: 2px solid #333;
	  border-color: hsla(0, 0%, 0%, 0.7);
	}
</style>
<div class="container">
	<% @shows.in_groups_of(4) do |group| %>
	<div class="row">
		<% group.compact.each do |show| %>
			<div class="s-show-card to-table-cell">
				<svg id="<%="show-#{show.id}"%>" class="js-shows" width="160" height="160" js-id="<%="show-#{show.id}"%>" js-data="<%=show.data%>" link-to="<%= edit_show_path(show) %>">
				</svg>
				<div class="muted info"><%= show.updated_at.strftime("%b %d, %Y") %></div>
				<div class="info"><%= show.name %></div>
				<div class="social-info">
					<span class="viewer"><fi class="lsf-icon" title="view"></fi><span class="number"><%= show.person_number %></span></span>
					<span class="lover"><fi class="lsf-icon" title="love"></fi><span class="number"><%= show.likes_count %></span></span>
					<span class="commenter"><fi class="lsf-icon" title="comment"></fi><span class="number"><%= show.comments_count %></span></span>
				</div>

			</div>
		<% end %>
	</div>
	<% end %>
	<div class="row">
		<div class="s-show-card add-btn" link-to="<%= new_show_path %>">
			+
		</div>

	</div>

</div>

<script>
	$('.js-shows').each(function() {
		var showID = $(this).attr('js-id');
		var originData = $(this).attr('js-data');
		var showData = ShowWidget.convertStrToCodeArr(originData);
		ShowWidget.generateShow('#'+showID,10,showData);
	});


</script>